<template name="listaFacultades">	
	<div class="page">
		<h3 class="panel-title"><img src="img/facultad.png" class="imagen"> Facultades </h3>
        <hr>
        {{> errors}}  
		<div class="table">
    		<table  class="table">
				<thead>
					<tr>
						<th></th>
						<th>Nombre</th>
						<th class="centrar">Cant. Carreras</th>
					</tr>
				</thead>
				<tbody>
	    			{{#each facultades}}	
					<tr>
						<td style="width: 68px;">
							<a href="{{pathFor 'editarFacultad'}}"><img src="img/editar.png"></a>
							{{#if noVinculado }}
								<a href="#" class="btn-borrar"><img name="img-borrar" src="img/borrar.png"></a> 
							{{/if}}	
						</td>
						<td>
							{{ nombre }} 
						</td>
						<td class="centrar">
							{{ formatoNumerico cantidadCarreras }} 
						</td>
					</tr>
					{{/each}}
				</tbody>
			</table>
			<h5><img src="img/info.png" style="width: 32px; height:32px; margin-right:5px;">{{registroCantidad}} Registro(s) encontrado(s)</h5>
			{{> busqueda btnAgregar="agregarFacultad"}}
  		</div>
  	</div>		
</template>	

<template name="agregarFacultad">
	<div class="page">
	<form id="form-new-facultad">
		<h3 class="panel-title"><img src="img/facultad.png" class="imagen"> Facultad - Agregar</h3>	
		<hr>
		{{> errors}}  
		<div class="input-group">
			<span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></span>
	   		<input class="form-control" name="nombre" id="nombre" type="text" placeholder="Nombre de la Facultad"/>
	   		<span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span></span>
		</div>
		<br>
		<label><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>   Campo obligatorio </label>
    	<div class='panel-inferior'>
			<input type="submit" value="Guardar" class="btn btn-primary submit"/>
			<a class="btn btn-default" href="{{pathFor 'facultades'}}">Listado</a>
		</div>
	</form>
	</div>
</template>

<template name="editarFacultad">
	<div class="page">
	<form id="form-update-facultad" >
		<h3 class="panel-title"><img src="img/facultad.png" class="imagen"> Facultad - Editar </h3>	
		<hr>
		{{> errors}}  
		<input type="hidden" name="id" id="id" value={{_id}} visible="false">
    	<div class="input-group">
			<span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></span>
	   		<input class="form-control" name="nombre" id="nombre" type="text" placeholder="Nombre de la Facultad" value="{{nombre}}"/>
	   		<span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span></span>
		</div>
		<br>
   		<label><span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>   Campo obligatorio </label>
    	<div class='panel-inferior'>
			<button type="submit" class="btn btn-primary">Guardar</button>
			<a href="{{pathFor 'facultades'}}" class="btn btn-default">Listado</a>
		</div>	
		
	</form>
	</div>
</template>
